DJANGO_SETTINGS_MODULE=kjuu.settings
APP_NAME=kjuu
DOMAIN_NAME=kjuu.local
DJANGO_SECURE_STRING=replace-with-long-random-secret
DEBUG=False

POSTGRES_DB=kjuu
POSTGRES_USER=kjuu
POSTGRES_PASSWORD=replace-with-strong-password

DATABASE_URL=postgresql://kjuu:replace-with-strong-password@db:5432/kjuu
